<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if site.data.resume.contact.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ site.data.resume.contact.email }}">{{ site.data.resume.contact.email }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ site.data.resume.contact.phone }}">{{ site.data.resume.contact.phone }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.webpage %}
    <li class="webpage"><i class="fas fa-globe-americas"></i>
      <a href="{{ site.data.resume.contact.webpage.url }}" target="_blank">{{ site.data.resume.contact.webpage.name }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="{{ site.data.resume.contact.linkedin.url }}" target="_blank">{{ site.data.resume.contact.linkedin.name }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="{{ site.data.resume.contact.github.url }}" target="_blank">{{ site.data.resume.contact.github.name }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ site.data.resume.contact.gitlab }}" target="_blank">{{ site.data.resume.contact.gitlab }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ site.data.resume.contact.bitbucket }}" target="_blank">{{ site.data.resume.contact.bitbucket }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ site.data.resume.contact.twitter }}" target="_blank">{{ site.data.resume.contact.twitter }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ site.data.resume.contact.stack-overflow }}" target="_blank">{{ site.data.resume.contact.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if site.data.resume.contact.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ site.data.resume.contact.codewars }}/completed_solutions" target="_blank">{{ site.data.resume.contact.codewars }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
