{% assign education = site.data.resume.sections | find: "name", "Education" %}
  {% if education %}
  <div class="education-container container-block">

    <h2 class="container-block-title">
      Education
    </h2>

    {% for graduation in education.entries %}
    <div class="item">
      <h4 class="degree">{{ graduation.what }} - {{ graduation.description }}</h4>
      <div class="meta">{{ graduation.details }}</div>
      <div class="time">{{ graduation.when }}</div>

    </div><!--//item-->
    {% endfor %}

  </div><!--//education-container-->
 {% endif %}
