{% assign experiences = site.data.resume.sections | find: "name", "Experience" %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

  {% for experience in experiences.entries %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.what }}</h3>
        <div class="time">{{ experience.when }}</div>
      </div><!--//upper-row-->
      {% if experience.where %}
      <div class="company">{{ experience.where }} - {{ experience.location }}</div>
      {% endif %}

    </div><!--//meta-->

    <ul class="details">
    {% for e in experience.details %}
      <li>{{ e }}</li>
    {% endfor %}
    </ul><!--//details-->

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
