{% assign projects = site.data.resume.sections | find: "name", "Projects" %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    Projects
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.entries %}
    <div class="item">

      <span class="project-title">
        <a href="{{ project.url }}">{{ project.what }}</a>
      </span>

      {% if project.description %}
      - <span class="project-tagline">{{ project.description }}</span>
      {% endif %}
      <ul>
      {% for p in project.details %}
      <li>{{ p }}</li>
      {% endfor %}
      </ul>

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
