<div class="sidebar-wrapper">

  <div class="profile-container">

    <img class="avatar" src="{{ site.baseurl }}/assets/images/profile.png" alt="profile picture" />

    {% if site.data.resume.name %}
    <h1 class="name">{{ site.data.resume.name }}</h1>
    {% endif %}

    {% if site.data.resume.title %}
    <h3 class="tagline">{{ site.data.resume.title }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% include education.html %}

  {% include language.html %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
